
body{
	background-color: lightgray;
}
h1{
font-size: 40px; 
color: seagreen;
}
.big{
font-size: 60px;
color: saddlebrown;
}
.uppercase{
text-transform: uppercase;
}
.big.uppercase{
color: blueviolet;
}
span{
color: darkred;
}
h2{
font-size: 25px; color: coral;
}
</style>	